<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>TwitTornado</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('twittornado.css') }}" />
  </head>
  <body>
    <table align="center">
      <tr valign="middle">
	<td valign="middle" align="center">
	  <h1>TwitTornado</h1>
	  <br><br>
	  <p><a href="/auth/login"><img class="noborder" border="0" src="{{ static_url('twitter-login.png') }}"/></a></p>
	  <br>
	      <p class="services" valign="middle">
	  <a href="/auth/login"><img border = "0" class="noborder" src="{{ static_url('twitter.jpg') }}" /></a><span class="plus">+</span><img src="{{ static_url('tornado.png') }}" />
	  <h3>Twitter in Realtime built on <a href="http://tornadoweb.com/">Facebook Tornado</a>.</h3>
	  <p><a href="/about">More About TwitTornado</a></p>
  <br><br>
	      <p><a href="/auth/login"><img class="noborder" border="0" src="{{ static_url('twitter-login.png') }}"/></a></p>
	
	</td>
      </tr>
    </table>
    
    <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10699224-1");
pageTracker._trackPageview();
} catch(err) {}</script>
  </body>
</html>
